# Dependencies
/vendor/

# Configuration
.env
composer.phar

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
public/uploads/resources/**
!public/uploads/resources/.gitkeep
public/uploads/submissions/**
!public/uploads/submissions/.gitkeep