# Dependencies
/vendor/

# Configuration
.env
composer.phar

# IDE / Editor
.vscode/
.idea/
notes.md

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/resources/**
!uploads/resources/.gitkeep
uploads/submissions/**
!uploads/submissions/.gitkeep
app/config/google_credentials.json
app/config/tokens/